/*  =========================================================================
    elements.links
    ========================================================================= */

/*  Variables
    ========================================================================= */

/*  Functions/Mixins
    ========================================================================= */

/*  Module
    ========================================================================= */

a {
  color: $color-black;
  text-decoration-skip-ink: auto;
  transition: color $base-animation-duration $base-animation-timing;

  #{$all-hovers} {
    text-decoration: none;
  }
}
