/*  =========================================================================
    elements.typography
    ========================================================================= */

/*  Variables
    ========================================================================= */

/*  Functions/Mixins
    ========================================================================= */

/*  Module
    ========================================================================= */

html {
  font-family: $font-family-base;
  color: $color-black;
}

/**
 * Headings
 */
h1,
h2,
h3,
h4,
h5,
h6,
dt,
legend {
  font-family: $font-family-heading;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  word-wrap: break-word;
  hyphens: auto;
  letter-spacing: 1px;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

p {
  max-width: 75ch;
}
