.u-umbrella {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
  }
}

.u-umbrella__container {
  position: relative;
}
