// Block
#nprogress {
  // Empty for reference
}

// Elements
#nprogress .bar {
  height: $border-base-width;
  background: $color-quinary-500;
}

#nprogress .spinner-icon {
  border-top-color: $color-quinary-500;
  border-left-color: $color-quinary-500;
}
