// Block
.c-section {
  background: $color-white;
  border: $border-base;
  padding: $supple-space-base;
  margin-bottom: $supple-space-base;

  @include mq($until: lg) {
    padding: $supple-space-small;
  }
}

// Elements
.c-section .c-section__header:not(:last-child),
.c-section__title-container:not(:last-child) {
  margin-bottom: $supple-space-small;
}

.c-section__breadcrumb {
  font-family: $font-family-base;
  font-weight: normal;
  text-transform: none;
  font-size: 1rem;
  letter-spacing: normal;
}

// Modifiers
.c-section--quinary {
  background: $color-quinary-500;
}

.c-section--black {
  background: $color-black;
  color: $color-white;
}

.c-section--header {
  .c-section__title {
    max-width: 390px;
  }
}
