// Block
.c-tag {
  border: $border-small;
  background: $color-quaternary-500;
  padding: $border-base-width;
  font-family: $font-family-heading;
  font-weight: $font-weight-bold;
  font-size: $font-size-large;
}
