$font-size-base: 1rem;
$font-size-tiny: 0.5 * $font-size-base;
$font-size-small: 0.75 * $font-size-base;
$font-size-large: 1.5 * $font-size-base;
$font-size-huge: 2 * $font-size-base;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
